
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-move {
  animation: move 2s infinite;
}
